<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {{> header}}
    <!-- calling screamIt helper and passing it the argument welcomeMessage -->
    <p>{{screamIt welcomeMessage}}</p>
  </body>
    {{> footer}}
</html>
