<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <!-- props from data in server.js go in double curly braces -->
    {{> header}}
    <p>Projects go here</p>
  </body>
  <!-- inject a template in double curly braces and greater than sign -->
  {{> footer}}
</html>
